body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #1cc88a, #4e73df);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: white;
  width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
}

button:hover {
  background-color: #2e59d9;
}

a {
  display: block;
  margin-top: 15px;
  text-decoration: none;
  color: #4e73df;
}

#message {
  margin-top: 10px;

}


.register-container {
  background: white;
  width: 700px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #2e59d9;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  color: #4e73df;
}